body{
    background-color: rgb(88, 29, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.main{
    text-align: center;
}
.count{
    background-color: rgb(241, 185, 213);
    font-size: 30px;
    display: inline-block;
    border-radius: 10px;
}
.btn{
    background-color: rgb(250, 223, 237);
    font-size: 30px;
    margin: 150px 75px;
    display: inline-block;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(231, 155, 164);
}